
  .btn {
    border: 0;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      box-shadow: var(--box-shadow);
      transition: box-shadow 0.2s;
    }
    &-gris {
      background: var(--gris);
      color: white;
    }
    &-orange {
      border: 1px solid var(--primary);
      background: var(--orange);
      color: white;
    }
  }
  